body {
    font-family: 'ProximaNova-Regular' !important;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'ProximaNova-Bold' !important;
}

.nav > li > a {
    font-family: 'ProximaNova-Bold' !important;
}

.light-font {
    font-family: 'ProximaNova-Light' !important;
}

.black-font {
    font-family: 'ProximaNova-Black' !important;
}

.nav-dropdown.nav-dropdown-default>li>a {
    margin: 0 !important;
}

ul li.bullet-checkmark:before, 
ul li.bullet-arrow:before, 
ul li.bullet-star:before {
    color: #88c053 !important;
}

ul li.bullet-checkmark {
    border-bottom: none !important;
}

strong {
    font-family: 'ProximaNova-Bold';
    font-weight: normal !important;
}


.section-title-normal {
    border-bottom: 2px solid #49bbce !important;
}

.testimonial-image img {
    box-shadow: none !important;
    border-radius: 99px !important;
}

.strong-view.bold .testimonial-content {
    font-size: 1em !important;
}

.strong-view.bold .testimonial-client {
    font-size: 1em !important;
}

.button i {
    top: 0 !important;
}

.nav > li > a {
    font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: normal !important;
}

.button {
    font-weight: normal !important;
    font-family: 'ProximaNova-Bold' !important;
}

.font-bold {
    font-family: 'ProximaNova-Bold' !important;
}

.custom-title-bogordesain {
    font-weight: normal !important;
    font-family: 'ProximaNova-Bold' !important;
    letter-spacing: 1px;
    font-size: .9em !important;
}

.customlist-bogordesain {
    background-color: #f4a13f !important;
    max-width: 100% !important;
}

.border-full-rock {
    border-radius:99px !important;
}

.header-main {
    border-bottom: 4px solid #ed3833;
}

.the-footer-custom {
    border-top: 4px solid #182283;
}