body {
    font-family: 'Gotham HTF' !important;
    font-size: .95em !important;
}



h1, h2, h3, h4, h5, h6 {

    font-family: 'Gotham HTF' !important;
    font-weight: 500 !important;
}

strong {
    font-weight: 500 !important;
}

.nav > li > a {
    font-family: 'Gotham HTF' !important;
    font-weight: 500 !important;
    font-size: .9em;
}

.tag-label {
    padding: 7px 12px !important;
    font-weight: 500 !important;
    background-color: #ff8700 !important;
    margin-bottom: 1em !important;
}

.font-white {
    color: #ffffff !important;
}

.sidebar-subscriber {
    border: 1px solid #ddd;
    padding: 20px 10px;
    border-radius: 5px;
}

.subscribe-sidebar {
    margin-bottom: 1em;
    line-height: 1.5;
    text-align: center;
}

.social-icons i {
   color: #ff8700 !important;
}

.widget .is-divider {
    border-bottom: 2px solid #00bdb8;
    max-width: 100%;
}

.dark p {
    color: #ffffff !important;
}


.caldera-grid label {
    font-weight: 500 !important;
}

.nav-vertical>li+li {
    border-top: none !important;
}

.nav.nav-vertical {
    list-style: none !important;
}

.col-inner ul li {
    margin-left: 0em !important;
}

.hero-font-custom {
    font-size: 2em !important;
}

.header-bottom {
    display: none !important;
}

.header-bottom {
    background-color: none !important;
}

.nav>li>a {
    font-size: .9em !important;
}

.button i {
    top: 0 !important;
}


.mc4wp-form-theme label {
  font-weight: normal !important;
  margin-bottom: 15px !important;
  font-size: .7em !important;
}

.heading-master-font {
  font-size: 2.2em !important;
}
