.tablepress thead th {
	background-color: #172284 !important;
	color: #fff !important;
	font-size: 13px !important;
	font-family: 'ProximaNova-Bold' !important;
	font-weight: normal !important;
}



.tablepress-id-5 .column-1 td {
	border-left: 1px solid #ddd;
}